/* .App {
  text-align: center;
} */

.login-container {
  background: pink;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 20px auto;
  padding: 50px 10px;
}
